/* Slideshow */
.page-container {
    min-width: 1000px;
    padding: 16px;
    width: calc(100% - 190px * 2);
    margin: 0 auto;
}
.page-wrapper {
    margin: 0 auto;
    max-width: 1147px;
    padding: 0 15px;
    position: relative;
}
.page-container {
    min-width: 1000px;
    padding: 16px;
    width: calc(100% - 190px * 2);
    margin: 0 auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide {
    text-align: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide:first-child {
    display: block;
}
/* Category List */
.short-link-list {
    padding: 35px 0 30px;
    border: none;
}
.short-link-list .category-slider .icon {
    margin: 0 auto;
    padding: 0 !important;
    border: none;
    border-radius: 5px;
    height: 90px;
    width: 90px;
}
.swiper-container-pointer-events {
    touch-action: pan-y;
}
.category-slider {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 40px;
    width: 1117px;
}
.short-link-list .category-item {
    text-align: center;
    flex: 0 0 calc(100% / 6);
    width: calc(100% / 6);
}
.short-link-list .category-item .label {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.text-ellipsis-two-lines {
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 3!important;
    text-overflow: ellipsis!important;
}
/* Product List */
.group-product-content {
    padding-top: 40px;
}
.title {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
    color: #111;
    margin-bottom: 20px;
}
.promotion-box {
    display: flex;
    flex-flow: row wrap;
    overflow-x: unset;
    margin: 0 -10px;
    white-space: nowrap;
}
.product-basic-info {
    flex: 0 0 calc(16.66667% - 20px);
    width: calc(16.66667% - 20px);
    min-width: 0;
    margin: 0 10px 20px;
    position: relative;
}
.link-absolute {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: 0 0;
    cursor: pointer;
    top: 0;
    left: 0;
}
.product-basic-info .cover-box {
    width: 100%;
    padding: 100% 0 0;
    position: relative;
    overflow: hidden;
}
.product-basic-info .promotion-photo {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.package-default,
.recipe-default {
    background-image: url(/React/images/default/recipe-list-default.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
}
.img-fit {
    height: 100% !important;
    object-fit: cover !important;
    width: 100% !important;
}
.product-basic-info .promotion-name {
    font-size: 16px;
    font-weight: 700;
    height: 43px;
    padding-top: 10px;
    position: relative;
    white-space: normal;
    margin-bottom: 12px;
}
.two-lines {
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.d-flex-center-middle {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.unti-price {
    font-size: 12px;
    color: #acacac;
    font-weight: 400;
    max-width: 140px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 19px;
    text-decoration-line: line-through;
}
.sale-price {
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
}
